* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: hsl(0, 100%, 74%);
    background-image: url(/bg-intro-desktop.png);
    margin: 0 auto;
}
.paragraph {
    color: #fff;
    max-width: 435px;
    line-height: 1.2;
}
#p-large-text {
    font-size: 42.5px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
}
#p-small-text {
    font-weight: 400;
    font-size: 13.5px;
}
.column-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.sub-plan {
    background-color: hsl(248, 32%, 49%);
    border-radius: 12px;
    padding: 15px 25px;
    margin: 0 20px 10px 20px;
    text-align: center;
    color: #fff;
    min-width: 100%;
    box-shadow: 0 8px rgba(70, 70, 70, 0.25);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px 45px;
    margin: 25px;
    min-width: 100%;
    box-shadow: 0 8px rgba(70, 70, 70, 0.25);
}
input {
    font-family: "Poppins";
    font-weight: 700;
    min-width: 109%;    
    outline: none;
    font-size: 13px;
    color: rgb(80, 80, 80);
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.8);
    padding: 0 15px;
    height: 50px;
    margin: 8px 0;
}
input:focus {
    border: 1px solid rgba(100, 100, 100, 0.9);
}
button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    width: 109%;
    padding: 12px 10px;
    margin-top: 10px;
    font-family: "Poppins";
}
button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 13.5px;
}
#t-and-s {
    position: relative;
    margin-top: 7.5px;
    text-align: center;
    font-size: 10px;
}
#t-and-s span{
    color: red;
}

@media (max-width: 375px) {
    body {
        background-image: url(/bg-intro-mobile.png);
        flex-direction: column;
    }
    .paragraph {
        text-align: center;
        padding: 20px 0;
        margin: 50px 0;
    }
    #p-large-text {
        font-size: 35px;
    }
    #p-small-text {
        font-size: 20px;
/*         font-weight: 400; */
    }
    .sub-plan {
        padding: 20px 60px;
        margin: 10px;
    }
    form {
        margin: 10px;
    }
    button {
        width: 115%;
    }

}
